@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Rubik', 'sans-serif';
        box-sizing: border-box;
        color: #393c41;
        margin: 0;
        padding: 0;
    }
    body {
        width: 100%;
    }
    h1 {
        font-size: 40px;
    }
  }

  @layer components {
    .head {
        /* font-semibold uppercase px-2.5 */
        font-weight: 600;
        text-transform: uppercase;
        padding: 0 10px;
        flex-wrap: nowrap;
        @media(max-width: 768px) {
            display: none;
        }
    }
    .right-menu {
        font-weight: 600;
        text-transform: uppercase;
        margin-right: 10px;
    }
  }